.App {
  text-align: center;
}

.commandBar {
  height: 50px;
  background-color: #22D;
  color: white;
  padding-top: 12px;
}

.placeholder4CommandBar {
  height: 50px;
  background-color: #22A;
}

.myBtn {
  background: inherit;
  border: inherit;
}
